.weekView {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
	background-color: lightblue;
	height: 600px;
	width: 100px;
}

.dayBlock {
	display: grid;
	justify-content: center;
}