.weekView {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.day {
	align-content: center;
	background-color: lightblue;
	display: grid;
	height: 400px;
	width: 120px;
}