.timeblock {
	align-items: center;
	border: 1px dotted lightgray;
	color: darkgray;
	display: flex;
	justify-content: center;
	margin: 4px;
	padding: 0 40px;
}

.timeblock:hover {
	cursor: pointer;
}
